[submodule "public"]
	path = public
	url = https://github.com/helmiagustian/helmiagustian.github.io.git
	branch = main
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
	branch = main
